.logcard {
  width: 750px;
  padding: 10px;
  font-size: 15px;
  border-style: solid;
  background-color: grey;
}

.logitem {
  border-style: solid;
}

.formwrapper {
  width: 750px;
}

.nlog{
  overflow: hidden;
}

.nlogView {
  height: 93vh;
  overflow-y: auto;
}

@media (max-width: 750px) {
  .nlogView {
    height: 85vh;
    overflow-y: scroll;
  }
}
