.container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

.item {
  text-align: center;
  padding: 10px;
  font-size: 15px;
}

.upload {
  position: absolute;
  bottom: 10px;
}
