table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

th {
  position: sticky;
  top: 0;
}

table td, #table th {
  border: 1px solid #ddd;
  padding: 5px;
}

table tr {
  background-color: #FFFFFF;
}

table tr.Sun:nth-child(2n+1) {
  background-color: #787a80;
}

table tr.holiday {
  background-color: #ed0c0c;
}

table tr.today {
  border-width: thick;
  border-color: black;
}

table tr:hover {background-color: #688cb4;}
table tr:hover {color: #FFFFFF;}

table th, tfoot td {
  /* word-spacing: 100vw; */
  max-width: 50px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2C5583;
  color: white;
  border: 1px solid #ddd;
  border-top: none
}

input[type="checkbox"]{
    -webkit-appearance: initial;
    appearance: initial;
    background: #CADAED;
    width: 10px;
    height: 10px;
    border: none;
    position: relative;
}

input[type="checkbox"]:before {
    content: '-';
    position: absolute;
    top: -0.25em;
    left: .2em;
}

div.checkmark {
  text-align: right;
  max-height: 1px;
  height: 100%;
}
