@import url('https://fonts.googleapis.com/css?family=Open+Sans:Medium');

body{
  background: #688cb4;
  font-family: "Open Sans";
  font-size: small;
  overflow: hidden;
}

.grid-container {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
